<!--
<div class="text-layout">
  <h1> {{nombre | titlecase}} </h1>
  <h1> {{valor | number}} </h1>
  <h1>{{ obj | json }} </h1>
</div>

<button pButton
  (click)="mostrarNombre()"
  class="p-button-raised p-button-help" 
  icon="pi pi-check" 
  iconPos="right"  
  label="Cambiar nombre">
  </button>


  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subHeader">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!    
</p-card>
-->

<app-menu></app-menu>

<router-outlet></router-outlet>